/* App.css */
.App {
  padding: 20px;
}

.row {
  display: flex;
  align-items: flex-start; /* Align items to the start */
  margin-bottom: 20px;
}

.item {
  margin: 0 10px;
}

.image {
  flex: 2; /* Makes the image section wider */
}

.schematic-input-form {
  flex: 1; /* Adjust as needed */
}

.plot-row {
  display: flex;
  justify-content: space-between; /* Distributes space between the plots */
}

.schematic-plot {
  flex: 1;
  margin: 0 10px;
}

.clickable-area {
  position: absolute;
  cursor: pointer;
  background-color: rgba(25, 134, 138, 0.3); 
}

/***11th Ave***/
/* Adjust these positions based on the specific locations of Weir level in FEET and overflow in mgd in the image */
.area1 {
  top: 39%; /* Adjust based on the image size and position */
  left: 59%; /* Adjust based on the image size and position */
  width: 25%; /* Adjust based on the clickable area size */
  height: 10%; /* Adjust based on the clickable area size */
}

.area2 {
  top: 90%; /* Adjust based on the image size and position */
  left: 40%; /* Adjust based on the image size and position */
  width: 120px; /* Adjust based on the clickable area size */
  height: 35px; /* Adjust based on the clickable area size */
}